legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

.draw-app{
    top: 65px;
    left: .5em;
}

.ol-touch .draw-app {
    top: 80px;
}


/* popup style */
.ol-popup {
    max-width:300px;
    min-width:100px;
    min-height:1em;
}

.text-blue{
    color: #6a88d5 !important;
}

.background-blue{
    background-color : #6a88d5 !important;
}
